.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main__header {
  margin-top: 10%;
  font-size: 3em;
  text-align: center;
  overflow: hidden;
}

.main__header span {
  display: block;
  animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;

  background: var(--rainbow-color, red);
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  color: #fff;
}

@keyframes reveal {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}
