header {
  position: relative;
  top: 0;
  animation: show 1.5s ease-in-out;
  padding: 2% 0 0;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
  flex-wrap: wrap;
}

.nav__logo {
  font-size: 1.5em;
  text-align: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
  text-decoration: none;
}

.nav__logo:hover {
  background: var(--rainbow-color, rgb(251, 63, 63));
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px transparent;
  color: #fff;
}

.nav__links {
  list-style-type: none;
  display: flex;
  gap: 2vw;
}

.nav__link {
  font-size: 1.5em;
  text-align: center;
}

.nav__link a {
  text-decoration: none;
}

.nav__link:hover {
  cursor: pointer;
  background: var(--rainbow-color, rgb(251, 63, 63));
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px transparent;
  color: #fff;
}

@keyframes show {
  from {
    top: -200px;
  }
  to {
    top: 0;
  }
}
