.contacts__header {
  font-size: 2em;
  text-align: right;
}

.contacts__items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10%;
  list-style-type: none;
  padding: 2% 0;
}

.contacts__item {
  font-size: 1.5em;
  text-decoration: none;
  text-align: center;
  padding: 1%;
}

.contacts__item:hover {
  box-sizing: border-box;
  background: var(--rainbow-color, rgb(251, 63, 63));
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  color: #fff;
}

.contacts__item a {
  text-decoration: none;
  font-size: 1.5em;
}
